* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #eef3d2;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.child1 {
  width: 40%;
  height: 40vh;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #947ec3;
}
.child2 {
  width: 40%;
  height: 40vh;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #947ec3;
}

.child1 button {
  height: fit-content;
  margin-top: 17vh;
  padding: 10px;
}

.child2 button {
  height: fit-content;
  padding: 10px;
  margin-top: 20px;
}

.empty {
  width: 20vw;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  border: 2px solid black;
}
.reveal {
  margin-top: 20px;
  width: 80vw;
  margin-left: 10vw;
  padding: 10px;
}
#any {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
